#include "constants.h" //for IDs
#include <windows.h> // include for version info constants
#include <commctrl.h>

IDI_MAINICON ICON "../resource/icon.ico"

CREATEPROCESS_MANIFEST_RESOURCE_ID 24 "../resource/xp.manifest"
